@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

:root {
  /* Colors */
  --main-color: #21358b;
  --text-color: #222222;
  --link-color: #375eff;
  --white-color: #ffffff;
  --light-grey-color: #f8f8f8;
  --grey-color: #444444;
  --header-text-color: rgba(255, 255, 255, 0.7);
  --header-text-highlight-color: #ffffff;
  --header-border-color: rgba(255, 255, 255, 0.15);
  --header-scrolled-bg-color: rgba(255, 255, 255, 0.9);
  /* Measures */
  --max-width: 75rem;
  --mobile-max-width: 48rem;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--text-color);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-content {
  background-color: var(--white-color);
  padding-bottom: 1rem;
}

.row {
  background-color: var(--white-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.v-padded {
  padding: 1.5rem 0;
}

.row-title {
  margin: 0;
  padding: 0 0 2rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-color);
}

.row:nth-child(odd) {
  background-color: var(--light-grey-color);
}

.container {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: var(--max-width);
  overflow: auto;
}

.row-card-item {
  float: left;
  width: 50%;
  max-width: 50%;
  padding: 0;
  color: var(--text-color);
  overflow: hidden;
  transition: all 0.5s ease;
}

.row-item {
  padding: 0;
  color: var(--text-color);
  max-height: 13rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.row-item.hidden {
  opacity: 0;
  max-height: 0;
}

.link-buttons {
  display: block;
  overflow: auto;
}

.link-buttons p {
  padding: 0;
  margin: 0.2rem 0;
}

.link-buttons a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-right: 0.15rem;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.link-buttons.link-buttons-small a {
  padding: 0.2rem 0.35rem;
  margin-right: 0.15rem;
}

.link-buttons.link-buttons-large a {
  padding: 0.4rem 0.6rem;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.link-buttons a:hover {
  background-color: var(--link-color);
}

.member {
  position: relative;
  padding: 1rem 1rem 1rem 9.8rem;
  min-height: 12rem;
  color: var(--text-color);
  font-size: 0.9rem;
}

.member-image {
  position: absolute;
  left: 0;
  border-radius: 1rem;
  width: 9rem;
  height: 9rem;
  background-size: cover;
}

.member-text {
  position: relative;
}

.member-name {
  margin: 0;
  padding: 0 0 0.2rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-color);
}

.member-email {
  display: block;
  padding-bottom: 0.3rem;
  text-decoration: none;
  color: var(--text-color);
}

.member-description {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.85rem;
}

.text-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.text-item {
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

@media screen and (max-width: 64rem) {
  .row-card-item {
    width: 100%;
    max-width: 100%;
  }

  .link-buttons.link-buttons-large a {
    display: block;
    float: left;
    margin-bottom: 0.15rem;
  }
}

@media screen and (max-width: 48rem) {
  .row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .v-padded {
    padding: 1rem 0;
  }

  .row-title {
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-color);
  }

  .member {
    padding: 1rem 1rem 1rem 5.8rem;
    min-height: 6rem;
  }

  .member-image {
    width: 5rem;
    height: 5rem;
  }

  .text-row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-item {
    flex: 0 0 auto;
    margin-left: 0;
  }
}