<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/assets/images/logo.png">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/screen.css">
    <link rel="stylesheet" href="/assets/styles/footer.css">
    <title>{{ data.website.title }}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% include 'header.html' %}
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    {% endblock %}
    <script src="/assets/scripts/index.js"></script>
</body>

</html>