<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-item">
                <div class="footer-text">
                    &copy; Copyright <span id="footer-year">2020</span> | {{ data.website.title }}
                </div>
                <div class="footer-text pre-wrap">{{ data.website.address }}</div>
            </div>
            <div class="footer-item">
                <div class="footer-text">
                    <a href="{{ data.website.repo_url }}">
                        Repository for this Website
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ data.website.data_url }}">
                        Edit Content
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('footer-year').innerHTML = (new Date()).getFullYear();
    </script>
</footer>