<header class="header" :class="{ 'header-scrolled': scrolled  }" id="header">
    <div class="header-content">
        <div class="logo">
            <!-- <div class="logo-drawing-container">
                <div class="logo-drawing" ref="logo"></div>
            </div> -->
            <div class="logo-text">{{ data.metadata.logo_text }}</div>
        </div>
        <div class="header-menu">
            <a class="header-menu-item" href="/">
                Home
            </a>
            <a class="header-menu-item" href="/members.html">
                Members
            </a>
            <a class="header-menu-item" href="/research.html">
                Research
            </a>
            <a class="header-menu-item" href="/links.html">
                Links
            </a>
            <a class="header-menu-item" href="/contact.html">
                Contact
            </a>
        </div>
    </div>
</header>